@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #fff;
    --secondary-color: #243a6f;
    --third-color: #d1e2e9;
    --fourth-color: ;
    --fifth-color: ;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    z-index: 1;
}

h1, h2, h3, h4{
    font-weight: 500;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
}

li{
    list-style-type: none;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}

.container-md{
    max-width: 100rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px){
    .container{
        padding: 0 3rem;
    }

    .container-md{
        padding: 0 3rem;
    }
}

.header{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: var(--third-color);
    overflow: hidden;
}    

.nav{
    padding: 1.6rem 0;
}

.navigation{
    display: flex;
    align-items: center; 
    justify-content: space-between;      
}

.logo1 h1{
    font-size: 2.5rem;
}

.top-nav{
    display: none;
}

.nav-list{
    display: flex;    
    align-items: center;
}

.nav-item:not(:last-child){
    margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited{
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;     
}

.nav-link.icon{
    font-size: 3rem;       
}

.hamburguer{
    display: none;    
}

.cart-icon{
    display: none;
}

@media only screen and (max-width: 768px){
    .menu{    
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        max-width: 70rem;
        height: 100%;
        background: var(--primary-color);
        transition: all 500ms ease-in-out;
        z-index: 100;
    }
    
    .menu.show{
        left: 0;
    }    

    .top-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--secondary-color);
        padding: 1rem 1.6rem;
    }

    .top-nav .logo{
        color: var(--primary-color);
    }

    .top-nav .close{
        color: var(--primary-color);
        font-size: 3rem;
        padding: 1rem;
        cursor: pointer;
    }

    .cart-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -4rem;
        font-size: 3rem;

    }

    .hamburguer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: -0.1rem;    
        font-size: 3rem;
        padding: 0.5rem;
        cursor: pointer;
    }

    .menu.show .nav-list {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .nav-link:link,
    .nav-link:visited{
        display: block;
        font-size: 1.7rem;
        padding: 1rem 0;
    }

    .nav.fix-nav .nav-link{
        color: var(--secondary-color);
    }

    .nav-link.icon{
        display: none;        
    }

    body.show::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 4;
    }

    .nav.show{
        background: rgba(0, 0, 0, 0.8);
    }
}

@media only screen and (max-width: 600px){
    .nav-list{
        display: none;
        padding: 0 1rem;       
    }

    .hamburguer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: -0.1rem;    
        font-size: 3rem;
        padding: 0.5rem;
        cursor: pointer;
    }

    .cart-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -4rem;
        font-size: 3rem;

    }
}

@media only screen and (max-width: 480px){
    .nav-list{
        display: none;
        padding: 0 1rem;       
    }

    .hamburguer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: -0.1rem;    
        font-size: 3rem;
        padding: 0.5rem;
        cursor: pointer;
    }

    .cart-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -4rem 3rem;
        font-size: 3rem;

    }
}

